.flex {
    display: flex;
    flex-direction: column;
}

.auth {
    display: flex;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.inputBox {
    width: 100%;
    height: 50px;
    opacity: 1;
    border-radius: 10px;
    top: 22px;
    left: 37px;
    background-color: #F3F3F3;
    font-family: Space Grotesk;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    padding: 10px 5px;
    margin: 10px auto;
    border: solid 1px grey;
}

.card {
    border-radius: 10px;
    background: var(--off-white, #F3F3F3);
    margin-top: 10%;
    width: 450px;
    color: #000;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px;
}

.link {
    color: blue;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.btn {
    display: inline-flex;
    height: 36px;
    padding: 20px 35px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 1px solid var(--Dark, #231919);
    background: var(--Black, #000);
    color: var(--off-white, #F3F3F3);
}